#sort-view {
  h2,h3{
    float:left;
  }
  .title{
    padding-bottom: 20px;
    border-bottom: 1px solid #DDDDDD;
    .right{
      float:right;
      margin-right:21px;
    }
  }
  .mainContent{
    overflow: hidden;
    width: 100%;
  }
  .main{
    text-align: center;
    .ant-transfer-list{
      border: 1px solid #000;
      .custom-item{
        display:inline-block;
        width:80px;
        text-align: left;
      }
    }
    .ant-transfer-operation{
      margin: 0 30px;
      .ant-btn{
        width: 120px;
        height: 28px;
        margin-bottom: 20px;
      }
    }
    .ant-transfer-list-content-item .anticon{
     opacity: 0;
    }

    .ant-transfer-list-content-item:hover{
      .anticon{
        opacity: 1;
      }
    }
    .ant-transfer-checkbox:hover .ant-transfer-checkbox-inner {
      border-color:#9261ea;
    }
    .ant-transfer-checkbox-checked .ant-transfer-checkbox-inner, .ant-transfer-checkbox-indeterminate .ant-transfer-checkbox-inner{
      background: #9261ea;
      border-color: #9261ea
    }
  }
  .smallTitle{
    width:37%;
    text-align: center;
    span{
      float: right;
      display: block;
      line-height: 21px;
      cursor: pointer;
      img{
        width: 12px;
        height: 12px;
        margin-right: 5px;
      }
    }
    .special{
      margin-right: 15px;
    }
  }
}
.ant-form-inline .ant-form-item>div{
  vertical-align: top;
}
.ant-modal-footer{
  border: none;
}

