#DataView {
  min-height: 100%;
  background: rgba(145, 97, 234, 0.14);
  .left {
    padding-left:14px;
    overflow: auto;
    position: fixed;
    width: 229px;
    top: 60px;
    left: 0;
    bottom: 0;
    z-index: 999;
    background: #FDFEFE;
    box-shadow: 1px 3px 10px 0 #9261ea;
    transition: top 0.5s;
    font-size: 14px;
  }
  .right {
    margin-left: 240px;
    margin-right: 10px;
    background-color: #FFFFFF;
  }
}
