#DataCenter {
  padding: 25px;
  .treeMenu, .Content {
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
  }
  .Content{
    margin-left:15px;
  }
  .newCdr{
    //position: fixed;
    //bottom: 50px;
  }
}
